@font-face {
    font-family:  'Quantico', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}
body{
    background-color: rgb(143, 143, 143);
    margin: 0;
    padding: 0;
    border: 0;
}
.creditos{
    width:70%;
    height:500px;
    background-color: rgb(235, 150, 39);
    box-shadow: 10px 10px 10px rgb(12, 12, 12);
    font-family: 'Quantico';
    margin:auto;
    border-radius: 20px;
    text-align: center;
}
h1{
    position: relative;
    top:20%;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-size: 30px;
    color: white;
}
ul{
    list-style: none;
    font-size: 20px;
    position: relative;
    top:30%;
    color:rgb(3, 3, 3);
    font-weight: bolder;
}
h4{
    position: relative;
    top:45%;
}