@font-face {
  font-family:  'Quantico', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}
body{
  background-color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Quantico';
}
.flex2{
  display: flex;
  flex-wrap: wrap;
  height:700px;
  width:1000px;
  margin: auto;
  top:0;
}
.flex3{
  background-image: url(../Img/dia.jpg);
}
.registro{
  display: block;
  margin: auto;
  width:50%;
  height:500px;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 20px;
}
.reg{
  text-align: center;
  color: white;
  font-size: 25px;
  position: relative;
  top:10%;
}
#text{
  width:70%;
  border:none;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  position: relative;
  top:100px;
  left:15%;
}
#text:hover,#text:focus,#text:active{
  outline:none;
}
#submit{
  width:70%;
  height:40px;
  border:none;
  background-color: rgb(155, 0, 0);
  color: #fff;
  position: relative;
  top:180px;
  left:15%;
  font-family: 'Quantico';
}
#submit:hover,#submit:focus,#submit:active{
  outline: none;
  background-color: rgb(56, 0, 0);
}
#text::-webkit-input-placeholder{color:#fff};
