#circulo1{
  background-color: yellow;
  border-radius: 50%;
  height: 5%;
  position: relative;
  left: 90%;
  top: 50%;
  width: 10%;
  z-index: 100%;
}
#circulo2{
  background-color: yellow;
  border-radius: 50%;
  height: 5%;
  position: relative;
  top: 50%;
  width: 10%;
  z-index: 100%;
}


#Inicio{
  background-color: black;
  box-shadow: -5px -5px -8px black;
  font-size: 40px;
  height: 290px;
  left: 731px;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 156px;
}
#Registro{
  background-color: black;
  box-shadow: 5px 5px 8px black;
  font-size: 40px;
  height: 290px;
  left: 890px;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 156px;
}
.nav nav{
    background: rgb(107, 0, 0);
    border-radius: 5px;
    height: 40px;
    padding-top:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav nav ul{
    list-style: none;
    margin: 0 auto;
}
.nav nav ul li{
    display: inline;
    padding-left: 5%;
}
.nav a:link, .nav a:visited{
    color:#FFFFFF;
    font-family:"Quantico";
    font-weight: 500;
    position: relative;
    text-shadow: 0px 4px 4px #01CDA8;
}
.nav a:hover, .nav a:active,
.nav .active a:link, .nav .active a:visited{
    background: rgb(2, 165, 165);
    text-shadow: none;
}
.nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body{
  background-image: url(../IMG/Entrada.png);
  background-size: 1350px;
  font-family:  'Quantico', sans-serif;
}
