@font-face {
    font-family: 'MuseoModerno', cursive;
    src: url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
}
@font-face {
    font-family: 'Mogra', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Mogra&family=MuseoModerno:wght@700&display=swap');
}
@font-face {
    font-family:  'Quantico', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}
a{
    text-decoration: none;
}
.nav nav{
    padding-top:10px;
    border-radius: 5px;
    height: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav nav{
    background: rgb(46, 46, 46);
}
.nav nav ul{
    list-style: none;
    margin: 0 auto;    
}
.nav nav ul li{
    display: inline;
    padding-left: 5%;
}
.nav a:link, .nav a:visited{
    font-family:"Quantico";
    font-weight: 500;
    position: relative;
}
.nav a:hover, .nav a:active,
.nav .active a:link, .nav .active a:visited{
    text-shadow: none;
}
.nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body{
    background-color: rgb(12, 12, 12);
    margin: 0;
    padding: 0;
    border: 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    height:700px;
    width:1000px;
    margin: auto;
    top:0;
}
.arcade{
    z-index: 5;
    background-repeat: no-repeat;
    position: relative;
    height:450px;
    width:300px;
    left:70%;
    top:30%;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.arcade:hover,.wLogo:hover,.wHelp:hover,.wScore:hover{
    transform: scale(1.02);
}
.screen{
    z-index:6;
    position: relative;
    width: 160px;
    height: 100px;
    left:20%;
    top: 15%;
    background: #000000;
    background-size: contain;
    border-radius: 4px;
    box-shadow: 0 0;
}
.screen:hover{
    animation: screen 20s linear;
}
#dino{
    color:rgba(71, 249, 255, 0.993);
    text-shadow:-3px -1px rgb(231, 0, 0);
    font-family:"MuseoModerno";
    font-weight: 500;
    position: relative;
    left:35%;
    top:30%;
    opacity: 0;
    animation: dino 5s linear 2s 1;
}
.wall{
    display: grid;
    width: 50%;
    height:35%;
    left:8%;
    top:20%;
    position: relative;
    z-index: 8;
    background-color: transparent;
    background-color: transparent;
}
.wLogo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    width:90%;
    height:60%;
    left:5%;
    top:20%;
    background: url(../Img/Dinologo.jpg);
    background-size: cover;
}
.wScore{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end:2;
    width: 80%;
    height: 70%;
    position: relative;
    left:5%;
    top:60%;
}
.wHelp{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end:3;
    width: 80%;
    height: 70%;
    position: relative;
    left:5%;
    top:60%;
}
.score,.help{
    font-family:"Quantico";
    font-weight: 500;
    position: relative;
    top:30%;
    font-size: 20px;
}
.help{
    left:34%;
}
.score{
    left:28%;
}
.none:hover{
    background-color: transparent;
}

.none:link, .none:visited{
    color: rgb(248, 248, 248);
}
.switch{
    position: relative;
    display:inline-block;
    width: 60px;
    height:34px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(159, 223, 235);
    background-size: cover;
    transition: 1s;
    border-radius: 36px;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-image:url(../Img/day.jpg);
    background-size: cover;
    transition: 1s;
    border-radius: 50%;
}
.SHC{
    background: #525252;
}
.score,.help,.nav a:link, .nav a:visited{
    color:#FFFFFF;
}

input:checked+.slider{
    background-color: rgb(9, 2, 51);
}
input:focus+.slider{
    box-shadow: 0 0 1px rgb(156, 134, 134);
}
input:checked+.slider::before{
    transform: translate(26px);
    transform: translate(26px);
    background-image:url(../Img/night.jpg);
    background-size: cover;
}
@keyframes screen {
    0%{
        background: #000000;
    }
    5%{
        background:radial-gradient( rgb(31, 30, 30),rgb(0, 0, 0));
    }
    10%{
        background:radial-gradient(rgb(85, 84, 84),rgb(31, 30, 30));
    }
    25%{
        background:radial-gradient(rgb(150, 145, 145),rgb(85, 84, 84));   
    }
    35%{
        background:radial-gradient(rgb(43, 43, 43),rgb(27, 27, 27));   
    }
    60%{
        background: url(../Img/menu.jpg);
        background-size: cover;
    }
    100%{
        background: url(../Img/menu.jpg);
        background-size: cover;
    }
}
@keyframes dino{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@media only screen and (min-width: 150px) and (max-width: 1000px) {
    .nav nav{
        height: 300px;
    }
    .nav nav ul{
        padding-left: 0;
    }
    .nav nav ul li{
        text-align: center;
        width: 100%;
    }
    .nav nav a:link, .nav nav a:visited{
        display: block;
        height: 20px;
        padding: 10px 25px;
    }
    .flex{
        height:350px;
        width:500px;
        background-size: cover;
    }
    .arcade{
        height:250px;
        width:150px;
        left:50%;
        top:15%;
        background-size: cover;
    }
    .screen{
        height:50px;
        width:90px;
    }
    .wall{
        width: 45%;
        height: 30%;
    }
    .score,.help{
        font-size: 10px;
    }
    #dino{
        font-size: 10px;
    }
}
/* colores 1 */
.blue:link, .blue:visited,.blue{
    text-shadow: 0px 4px 4px #01CDA8;
}
.blue:hover, .blue:active,.blue:visited{
    background: rgb(2, 165, 165);
}
.LSHC{
    box-shadow: 0px 4px 20px rgba(0, 219, 193, 0.9);
}
.flexC{
    background-image: url(../Img/iniciobg.jpg);
}
.arcadeC{
    background-image: url(../Img/inicioarcade.png);
}
/* colores 2 */
.pink:link, .pink:visited,.pink{
    text-shadow: 0px 4px 4px #D400BF;
}
.pink:hover, .pink:active,.pink:visited{
    background:#D400BF;
}
.LSHC2{
    box-shadow: 0px 4px 20px #D400BF;
}
.flexC2{
    background-image: url(../Img/iniciobgd.jpg);
}
.arcadeC2{
    background-image: url(../Img/arcadebgd.png);
}