#comenzar{
  text-align: center;
}

#contenedorgen{
  padding-top: 10%;
  padding-bottom: 5%;
}
.tamano{
  width: 799px;
  height: 667px;
}
.filaN {
  color: black;
  background-color: #FFFFFF;
  border: 1px solid black;
}
.casRe {
  color: black;
  background-color: #ADFFE0;
  border: 1px solid black;
  line-height: 10px;
}
.filaP1 {
  color: black;
  background-image: url("../IMG/play1sf.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(255,0,0,.4);
  border: 1px solid black;
}
.filaP2 {
  color: black;
  background-image: url("../IMG/play2sf.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(0,43,255,.4);
  border: 1px solid black;
}
.filaP3 {
  color: black;
  background-color: rgba(243,255,0,.4);
  background-image: url("../IMG/play3sf.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: 1px solid black;
}
.filaP4 {
  color: black;
  background-color: rgba(0,255,0,.4);
  background-image: url("../IMG/play4sf.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: 1px solid black;
}
.azulillo{
  background-color: #123456;
}
.blanco{
  color: #FFFFFF;
}
img{
  position: relative;
  width: 6%;
  height: auto;
  z-index: 3;
  object-fit: cover;;
}
p{
  border: 2px solid black;
  width: 80%;
  background-color: #DDD1D1;
  text-align: center;
}
body{
  background-color: #555151;
  font-family: 'Quantico', sans-serif;
}
article{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  background-color: #8C74AB;
  border-top: 10px solid #222121;
  border-left: 10px solid #222121;
  border-right: 10px solid #AAA1A1;
  border-bottom: 10px solid #AAA1A1;
  width: 80%;
  padding-left: 3%;
}
header{
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: -10%;
}
h1{
  text-shadow: 0px 4px 1px #00AAFF;
}
span{
  font-size: 9px;
}
