#Inicio{
  background-color: black;
  box-shadow: -5px -5px -8px black;
  font-size: 30px;
  height: 290px;
  left: 731px;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 310px;
}
#Registro{
  background-color: black;
  box-shadow: 5px 5px 8px black;
  font-size: 40px;
  height: 290px;
  left: 890px;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 156px;
}
.nav nav{
    padding-top:10px;
    background: rgb(107, 0, 0);
    border-radius: 5px;
    height: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav nav ul{
    list-style: none;
    margin: 0 auto;
}
.nav nav ul li{
    display: inline;
    padding-left: 5%;
}
.nav a:link, .nav a:visited{
    font-family:"Quantico";
    font-weight: 500;
    color:#FFFFFF;
    text-shadow: 0px 4px 4px #01CDA8;
    position: relative;
}
.nav a:hover, .nav a:active,
.nav .active a:link, .nav .active a:visited{
    background: rgb(2, 165, 165);
    text-shadow: none;
}
.nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
body{
  background-image: url(../../Statics/Img/Entrada.png);
  background-size: cover;
}
input[type='text']{
  border: none;
  border-bottom: 2px solid black;
}

input[type='text']:focus{
  outline: none;
  background-color: #dadada;
  border-bottom: 2px solid blue;
}
