<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="../Statics/Css/Ayuda.css">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex">
        <h1>AYUDA</h1>
        ¡BIENVENIDO A DINOARCADE3000!
        Si es la primera vez que nos vistas y tienes alguna duda, te conviene leer esta página.
        DinoArcade3000 busca que puedas sentirte cómod@ al ocuparlo, es por esto que a lo largo del sitio habrá varias formas de acceder a los diferentes contenidos.
        Primero tenemos la barra de navegación, en ella accederás a Inicio, Creditos, Ayuda, Puntajes y Juegos, así como Cerrar Sesión para regresar al menú principal.
        <br>
        <img src="../Statics/Img/navbar.jpg" class="navImg">
        <img src="../Statics/Img/inicio.jpg" alt="" class="inicio">
        También podrás acceder a los puntajes, los créditos y los juegos desde la pantalla principal de inicio. Ahí podrás ver en letras grandes las respectivas opciones y a juegos podrás acceder al dar clic sobre la máquina de juegos de arcade.
        Sin más herramientas que brindarte en tu aventura, esperamos te diviertas y pases un rato entretenido ¡BUENA SUERTE!
    </div>
</body>
</html>