<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Statics/Css/creditos.css">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
    <title>Créditos</title>
  </head>
  <body>
    <div class="creditos">
      <h1>CRÉDITOS</h1>
      <ul>
        <li>De Luna Santillán Juan de Dios</li>
        <li>Gutierrez Tafoya Jorge</li>
        <li>Herrera González Silvia</li>
        <li>Melo Téllez Mariana </li>
      </ul>
    </div>
  </body>
</html>
