<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Statics/Css/Inicio.css">
</head>
<body>
    <header class="nav">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Puntajes</a></li>
            <li><a href="#">DinoJuegos</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Créditos</a></li>
            <li id="boton">Botón</li>        
          </ul>
      </nav>
    </header>  
    <div class="flex">
        <div class="wall">
            <div class="wLogo"></div>
            <div class="wScore">
                <span class="score"><a href="#" class="none">PUNTAJES</a></span>
            </div>
            <div class="wHelp">
                <span class="help"><a href="#" class="none">AYUDA</a></span>
            </div>
        </div>
        <a href="#" class="none"><div class="arcade">
            <div class="screen">
                <span id="dino">DINO</span>
            </div>
        </div></a>
    </div>
</body>
</html>