<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Statics/Css/Inicio.css">
</head>
<body>
    <div class="flex flexC">
        <div class="wall">
            <div class="wLogo LSHC"></div>
            <div class="wScore LSHC SHC">
                <span class="score blue"><a href="#" class="none">PUNTAJES</a></span>
            </div>
            <div class="wHelp LSHC SHC">
                <span class="help blue"><a href="#" class="none">AYUDA</a></span>
            </div>
        </div>
        <a href="#" class="none"><div class="arcade arcadeC">
            <div class="screen">
                <span id="dino">DINO</span>
            </div>
        </div></a>
    </div>
    <script src="../Dynamics/JS/Interior.js"></script>
</body>
</html>