<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Selección</h1>

    <a href="juego1.html">Hipervinculo temporal al juego 1</a>
    <br>
    <a href="juego2.html">Hipervinculo temporal al juego 2</a>
    <br>
    <a href="Juego3.html">Hipervinculo temporal al juego 3</a>
    <br>
    <a href="Interior.html">Regresar</a>
    <br>
    <a href="Puntajes.html">Hipervinculo temporal a la pantalla de puntaje</a>
    <br>
    <a href="Creditos.html">Créditos</a>
    <title>Selección de juego</title>
    <link rel="stylesheet" href="../Statics/CSS/menuselec.css">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="nav">
      <nav>
        <ul>
          <li><a href="#" class="blue">Inicio</a></li>
          <li><a href="#" class="blue">Puntajes</a></li>
          <li><a href="#" class="blue">DinoJuegos</a></li>
          <li><a href="#" class="blue">Ayuda</a></li>
          <li><a href="#" class="blue">Créditos</a></li>
          <li><label class="switch"><input type="checkbox"><span class="slider"></span></label></li>        
        </ul>
    </nav>
  </header>
    <div id = "general">
      <div id="contenOpc">

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 1</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letraOscura puntuac">
              <a href="#"  class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 2</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letra oscura puntuac">
              <a href="#" class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 3</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letraOscura puntuac">
              <a href="#" class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div>
        </div>
        <div class = "creditosCont">
          <div class="creditos credi">
            Créditos
          </div>
        </div>
      </div>
  </div>
  <script src="../Dynamics/JS/menuselec.js"></script>
  </body>
</html>
