<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Selección</h1>
    
    <a href="Espacio">Hipervinculo temporal al juego 1</a>
    <br>
    <a href="Espacio">Hipervinculo temporal al juego 2</a>
    <br>
    <a href="Espacio">Hipervinculo temporal al juego 3</a>
    <br>
    <a href="Espacio">Hipervinculo temporal a la cafetería</a>
    <br>
    <a href="Espacio">Hipervinculo temporal a la pantalla de puntaje</a>
  </body>
</html>
