<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Selección</h1>

    <a href="juego1.html">Hipervinculo temporal al juego 1</a>
    <br>
    <a href="juego2.html">Hipervinculo temporal al juego 2</a>
    <br>
    <a href="Juego3.html">Hipervinculo temporal al juego 3</a>
    <br>
    <a href="Interior.html">Regresar</a>
    <br>
    <a href="Puntajes.html">Hipervinculo temporal a la pantalla de puntaje</a>
    <br>
    <a href="Creditos.html">Créditos</a>
  </body>
</html>
