<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Statics/CSS/menuselec.css">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
  </head>
  <body>
  </head>
  <body>
    <header class="nav" id="nav2">
      <nav>
        <ul>
          <li><a href="WormLadder.html" class="blue" id="Juego1">WormLadder</a></li>
          <li><a href="Juego2.html" class="blue" id="Juego2">A day in SpongeBob driving school</a></li>
          <li><a href="Juego3.html" class="blue" id="Juego3">Running from Extinction</a></li>
        </ul>
    </nav>
  </header>
    <div id = "general">
      <div id="contenOpc">

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 1</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letraOscura puntuac">
              <a href="#"  class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 2</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letra oscura puntuac">
              <a href="#" class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div class="contenJue letraOscura">
          <a href="#" class="letraOscura">
            <div class="cuadImg">
              <img src="../Statics/IMG/juego1.JPG">
            </div>
            <h3>Juego 3</h3>
            <div class="infor">
              <a href="#" class="letraClara">
                Info
              </a>
            </div>
            <br>
            <div class="puntua letraOscura puntuac">
              <a href="#" class="letraOscura">
                Puntuación
              </a>
            </div>
          </a>
        </div>

        <div>
        </div>
        <div class = "creditosCont">
          <div class="creditos credi">
            Créditos
          </div>
        </div>
      </div>
  </div>
  <script src="../Dynamics/JS/menuselec.js"></script>
  </body>
</html>
