<link href="https://fonts.googleapis.com/css2?family=Mogra&family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../Statics/Css/Inicio.css">
<header class="nav" id="nav">
    <nav>
      <ul>
        <li><a href="#" class="blue" id="Inicio">Inicio</a></li>
        <li><a href="#" class="blue" id="Puntajes">Puntajes</a></li>
        <li><a href="#" class="blue" id="DinoJuegos">DinoJuegos</a></li>
        <li><a href="#" class="blue" id="Creditos">Créditos</a></li>
        <li><a href="#" class="blue" id="Ayuda">Ayuda</a></li>
        <li><label class="switch"><input type="checkbox"><span class="slider"></span></label></li>        
      </ul>
  </nav>
</header>