<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Css/Registro.css">
    <title>Registro</title>
</head>
<body>
  <header class="nav">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Puntajes</a></li>
        <li><a href="#">DinoJuegos</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Créditos</a></li>
      </ul>
    </nav>
    <div id="Inicio">
      <form class="formulario" action="index.html" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Inserte su nombre" autocomplete="off">
      </form>
      <a href="./Interior.html">Ir dentro de la cafetería</a>
    </div>
  </body>
</html>
