<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego 3 </title>
    <link rel="stylesheet" href="../Statics/Css/Running from Extinction.css">
</head>
<body>
<!--     <a href="menuselec.html">Regresar</a>-->    
    <div id="player">
        <!-- Imagen nave -->
        <img src="../Statics/Img/nave.png" id="P1" alt="" height="75" width="65" draggable="false" class="">
        <!-- Imagen bala -->
<!--         <img src="../Statics/Img/nave.png" id="P1" alt="" height="75" width="65" draggable="false" class="">

 -->    </div>
    <script src="../Dynamics/JS/Running from Extinction.js"></script>
</body>
</html>
